<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    {{title}}
    {{titlere}}
    {{number1}}
    {{number2}}
    <input type="text"[(ngModel)]="number1">
    <input type="text"[(ngModel)]="number2">
    <input type="text"[(ngModel)]="title">
    <input type="text"[(ngModel)]="titlere">
</body>
</html>
